*{
	margin: 0px;
	padding: 0px;
}

body > footer{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    /*background-color: #292b2c;*/
}

#txtfo{
color: #fff;
font-size: 18px;
padding-top: 30px;
}
h4.text-center{
	margin-top: 2%;
}
/*#busqueda{
	width: 40%;
	margin: 0px auto;
	margin-top: 3%;
}*/
/*#contratista , #hola{
	width: 25%;
	margin: 0px auto;
	margin-bottom: 10px;
	float: left;
	margin-left: 20px;

}*/
#contratista2{
		width: 20%;
	margin: 0px auto;
	margin-bottom: 10px;
	float: left;
	margin-left: 57px
}
th{
	text-align: center;
}
td{
	text-align: center;
}
h5{
	margin-bottom: 10px;
	float: left;
	margin-left: 20px;
}

.tiempo{
	height: 100px;
	border:1px solid grey;
	text-align: center;
}

#tx_tiempo{
	margin-top: 20%;
	text-align: center;
}
#tx_tiempo2{
	
	margin-top: 10px;
}

#varsuma{
	width: 20%;
	margin-left: 30px;
}
